<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="custom-container">
    <form [formGroup]="userForm" (submit)="onSubmit()" class="p-4 rounded shadow-lg bg-light">
      <h2>User Registration</h2>

      <div class="mb-3">
        <label for="fullname" class="form-label">Name</label>
        <input type="text" class="form-control" id="fullname" formControlName="fullname" required>
        <div *ngIf="userForm.get('fullname')?.invalid && userForm.get('fullname')?.touched" class="text-danger">
          Full Name is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username" required>
        <div *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched" class="text-danger">
          Username is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="text-danger">
          Valid email is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="mobile" class="form-label">Mobile</label>
        <input type="tel" class="form-control" id="mobile" formControlName="mobile" required>
        <div *ngIf="userForm.get('mobile')?.invalid && userForm.get('mobile')?.touched" class="text-danger">
          Mobile number is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="app_id" class="form-label">App ID</label>
        <input type="text" class="form-control" id="app_id" formControlName="app_id" required>
        <div *ngIf="userForm.get('app_id')?.invalid && userForm.get('app_id')?.touched" class="text-danger">
          App ID is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="token" class="form-label">Token</label>
        <input type="text" class="form-control" id="token" formControlName="token" required>
        <div *ngIf="userForm.get('token')?.invalid && userForm.get('token')?.touched" class="text-danger">
          Token is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" required>
        <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched" class="text-danger">
          Password is required.
        </div>
      </div>

      <div class="d-grid gap-2 mt-4">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-check"></i> Submit
        </button>
      </div>
      <div class="mt-3 text-danger" *ngIf="message">{{ message }}</div>
    </form>
  </div>
</div>
