<!-- <main class="d-flex flex-nowrap">
  <h1 class="visually-hidden"></h1>
  
  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Admin Panel</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/user-form" class="nav-link">
          Add User
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/user-view" class="nav-link">
          View Users
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/buy" class="nav-link">
          buy
        </a>
      </li>
      
    </ul>
    <hr>
    <ul class="nav nav-pills flex-column mt-auto">
      <li class="nav-item">
        <a routerLink="/login" class="nav-link">
          Login
        </a>
      </li>
      
    </ul>
  </div>
</main> 


 
 -->





 

<!-- part33 -->
<main class="d-flex flex-nowrap">
  <h1 class="visually-hidden"></h1>
  
  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100vh; background-color: #1a1a1a;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">Admin Panel</span>
    </a>
    <hr style="border-color: #555555;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/user-form" class="nav-link text-white">
          <i class="bi bi-person-plus me-2"></i>
          Add User
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/user-view" class="nav-link text-white">
          <i class="bi bi-person-lines-fill me-2"></i>
          View Users
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/buy" class="nav-link text-white">
          <i class="bi bi-cart4 me-2"></i>
          Trade
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/trade-list" class="nav-link text-white">
          <i class="bi bi-cart4 me-2"></i>
          Trader list
        </a>
      </li>
    </ul>
    <hr style="border-color: #555555;">
    <ul class="nav nav-pills flex-column mt-auto">
      <li class="nav-item">
        <a routerLink="/login" class="nav-link text-white">
          <i class="bi bi-door-open me-2"></i>
          Login
        </a>
      </li>
    </ul>
  </div>
</main>
